apache-airflow-providers-fab[common.compat]>=3.0.1
apache-airflow-providers-git>=0.0.9
apache-airflow-providers-microsoft-azure>=12.8.0
dlt>=1.18.2
fastparquet>=2024.11.0
fastexcel>=0.16.0
great_expectations>=1.9.0
httpx>=0.28.1
mechanicalsoup>=1.4.0
openpyxl>=3.1.5
pandas>=2.3.3
pandera>=0.26.1
polars>=1.35.2
sodapy>=2.2.0
xmltodict>=1.0.2